header {
    display: flex;
    justify-content: center;
    background-image: url("sky.png.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    height: 80vh;
    width: 80%;
    text-align: center;
    align-items: center;
}
h1 {
    font-size:55px;
    color:white;
    width: 70%;
    margin-left:160px;
}
button {
    width: 25%;
    height: 6vh;
    color:white;
    font-size:20px;
    background-color:orangered;
    border: none;
}
